:root {
    --primary: #00B37E;
    --background: #f2f5f7;
    --text: #FFF;
    --caption: #8D8D99;
    --gray: #E1E1E6;
    --background-light: rgba(255, 255, 255, 0.05);
  }
  
  * {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body {
    font-size: 100%;
    background: var(--background);
    -webkit-font-smoothing: antialiased;
  }
  
  button {
    cursor: pointer;
  }

  body, input, textarea, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }