.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    font-weight: 700;

}

.header img {

    height: 6rem;
    width: 6rem;

}

.nav {
    display: flex;
    gap: 2rem;
    
}